In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
data = pd.read_csv('cluster_labels/train_cluster_labeled')

In [4]:
data

,0,tcp,http,SF,215,45076,0.1,0.2,0.3,0.4,...,0.00.9,0.00.10,0.00.11,0.00.12,0.00.13,normal.,K11-closest,K11-distance,K116-closest,K116-distance
0,0,tcp,http,SF,162,4528,0,0,0,0,...,0.00,0.0,0.00,0.0,0.0,normal.,2,1705.896070,80,2154.261607
1,0,tcp,http,SF,236,1228,0,0,0,0,...,0.00,0.0,0.00,0.0,0.0,normal.,2,3198.257386,80,3419.391120
2,0,tcp,http,SF,233,2032,0,0,0,0,...,0.00,0.0,0.00,0.0,0.0,normal.,2,3831.518457,80,4005.477601
3,0,tcp,http,SF,239,486,0,0,0,0,...,0.00,0.0,0.00,0.0,0.0,normal.,2,4114.857108,80,4270.974705
4,0,tcp,http,SF,238,1282,0,0,0,0,...,0.00,0.0,0.00,0.0,0.0,normal.,2,4276.953082,80,4422.930634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898425,0,tcp,http,SF,212,2288,0,0,0,0,...,0.05,0.0,0.01,0.0,0.0,normal.,2,5694.018900,89,1970.046801
4898426,0,tcp,http,SF,219,236,0,0,0,0,...,0.05,0.0,0.01,0.0,0.0,normal.,2,5607.895671,89,1828.781469
4898427,0,tcp,http,SF,218,3610,0,0,0,0,...,0.05,0.0,0.01,0.0,0.0,normal.,2,5602.708188,89,1713.088995
4898428,0,tcp,http,SF,219,1234,0,0,0,0,...,0.05,0.0,0.01,0.0,0.0,normal.,2,5507.782676,89,1751.534689
4898429,0,tcp,http,SF,219,1098,0,0,0,0,...,0.05,0.0,0.01,0.0,0.0,normal.,2,4652.601782,20,1084.839857

In [11]:
pd.melt(data.loc[:,('normal.', 'K11-closest')], id_vars=['normal.'])

         normal.     variable  value
0        normal.  K11-closest      2
1        normal.  K11-closest      2
2        normal.  K11-closest      2
3        normal.  K11-closest      2
4        normal.  K11-closest      2
...          ...          ...    ...
4898425  normal.  K11-closest      2
4898426  normal.  K11-closest      2
4898427  normal.  K11-closest      2
4898428  normal.  K11-closest      2
4898429  normal.  K11-closest      2

[4898430 rows x 3 columns]

In [163]:
data['K11-closest'].value_counts()

1     2811284
0      869014
2      615584
4      280794
5      144308
7       96938
3       59337
10      17003
6        4093
9          74
8           1
Name: K11-closest, dtype: int64

In [30]:
data['normal.'].value_counts()

smurf.              2807886
neptune.            1072017
normal.              972780
satan.                15892
ipsweep.              12481
portsweep.            10413
nmap.                  2316
back.                  2203
warezclient.           1020
teardrop.               979
pod.                    264
guess_passwd.            53
buffer_overflow.         30
land.                    21
warezmaster.             20
imap.                    12
rootkit.                 10
loadmodule.               9
ftp_write.                8
multihop.                 7
phf.                      4
perl.                     3
spy.                      2
Name: normal., dtype: int64

In [24]:
occ = data.groupby('K11-closest')['normal.'].value_counts().unstack()
occ

normal.,back.,buffer_overflow.,ftp_write.,guess_passwd.,imap.,ipsweep.,land.,loadmodule.,multihop.,neptune.,...,phf.,pod.,portsweep.,rootkit.,satan.,smurf.,spy.,teardrop.,warezclient.,warezmaster.
K11-closest,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,1.0,6.0,NaN,2.0,NaN,NaN,867421.0,...,NaN,NaN,277.0,NaN,189.0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,6.0,2807851.0,NaN,NaN,NaN,NaN
2,2193.0,27.0,4.0,1.0,6.0,14.0,NaN,8.0,4.0,NaN,...,3.0,45.0,1.0,7.0,23.0,NaN,2.0,NaN,698.0,18.0
3,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,1004.0,NaN,2152.0,NaN,NaN,48.0,4.0,NaN
4,7.0,1.0,NaN,50.0,NaN,859.0,NaN,NaN,NaN,204570.0,...,NaN,NaN,9120.0,NaN,12330.0,NaN,NaN,NaN,1.0,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,139.0,NaN,3.0,1151.0,35.0,NaN,931.0,NaN,NaN
6,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,307.0,2.0
7,3.0,NaN,2.0,NaN,NaN,11.0,10.0,1.0,1.0,24.0,...,1.0,NaN,5.0,NaN,18.0,NaN,NaN,NaN,9.0,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,2.0,NaN,1.0,NaN,11548.0,9.0,NaN,NaN,2.0,...,NaN,80.0,4.0,NaN,22.0,NaN,NaN,NaN,1.0,NaN

In [77]:
occ.idxmax(axis=1)

K11-closest
0     neptune.
1       smurf.
2      normal.
3      normal.
4     neptune.
5      normal.
6      normal.
7      normal.
8      normal.
9      normal.
10    ipsweep.
dtype: object

In [60]:
def entropie(cluster):
    cluster = cluster.dropna()
    total = cluster.sum()
    entropie = -sum((i/total * np.log(i/total) for i in cluster))
    return entropie

In [61]:
occ.apply(entropie, axis=1).sort_values(ascending=False)

K11-closest
10    0.823001
4     0.815618
6     0.281183
3     0.250154
5     0.108255
2     0.035539
0     0.015268
1     0.009527
7     0.008776
9    -0.000000
8    -0.000000
dtype: float64

In [ ]:
sns.catplot(occ.apply(entropie, axis=1).sort_values(ascending=False)

In [63]:
occ.iloc[4].dropna()

normal.
back.                    7.0
buffer_overflow.         1.0
guess_passwd.           50.0
ipsweep.               859.0
neptune.            204570.0
normal.              53856.0
portsweep.            9120.0
satan.               12330.0
warezclient.             1.0
Name: 4, dtype: float64

In [104]:
def precision(TP, FP):
    return TP / (TP + FP)

def recall(TP, FN):
    return TP /(TP + FN)

def F1(precision, recall):
    return 2*precision*recall/(precision + recall)

def f1_cat(stats, cat):
    TP = 0
    FP = 0
    TN = 0
    FN = 0
    for i, row in stats.iterrows():
        #print(row)
        #print(row.idxmax(axis=1))
        #print(cat[i])
        if cat.name == row.idxmax(axis=1):
            TP += cat[i]
            FP += row.sum() - cat[i]
        elif not np.isnan(cat[i]):
            FN += cat[i]
            TN += row.sum() - cat[i]
    
    if TP == 0:
        return 0
    else:
        return F1(precision(TP, FP), recall(TP, FN))

In [106]:
occ = data.groupby('K116-closest')['normal.'].value_counts().unstack()
occ.apply(lambda x: f1_cat(occ, x))

normal.
back.               0.000000
buffer_overflow.    0.000000
ftp_write.          0.000000
guess_passwd.       0.803279
imap.               0.000000
ipsweep.            0.909310
land.               0.857143
loadmodule.         0.000000
multihop.           0.000000
neptune.            0.999504
nmap.               0.608414
normal.             0.995249
perl.               0.461538
phf.                0.000000
pod.                0.000000
portsweep.          0.891269
rootkit.            0.000000
satan.              0.875711
smurf.              0.999582
spy.                0.000000
teardrop.           0.995382
warezclient.        0.000000
warezmaster.        0.000000
dtype: float64

In [108]:
test = pd.read_csv('kddcup.testdata.unlabeled')

In [111]:
def normalize(data):
    #data = data.drop('normal.', axis=1)
    def categorical_as_multicolumns(pd_data):
        for column_name in pd_data.columns:
            if pd_data[column_name].dtype.name == 'object':
                for category in np.unique(pd_data[column_name]):
                    pd_data[column_name + '-' + category] = pd_data[column_name] == category
                pd_data.drop(column_name, axis=1, inplace=True)
        return pd_data
    
    def normalize(pd_data):
        for column in pd_data.columns:
            std = pd_data[column].std()
            if np.allclose(std, 0):
                print(f"For column {column} too low std detected: {std}\nDropping column")
                pd_data.drop(column, axis=1, inplace=True)
            else:
                pd_data[column] = (pd_data[column] - pd_data[column].mean())/pd_data[column].std()
        return pd_data

    data = categorical_as_multicolumns(data)
    data = normalize(data)
    return data

test_norm = normalize(test)

For column 0.14 too low std detected: 0.0
Dropping column

In [113]:
def project(test_data, data):
    global U
    global S
    global V
    U, S, V = np.linalg.svd(data.values.T, full_matrices = False)
    print(f'Calculated SVD. Mean of SVs: {S.mean()}')
    
    DIM_SUBSPACE = 20
    pcs = U[:,:DIM_SUBSPACE] @ np.diag(S[:DIM_SUBSPACE])
    pdata = test_data @ pcs
    return pdata

test_pdata = project(test_norm, normalize(pd.read_csv('kddcup.data').drop('normal.', axis=1)))

For column 0.13 too low std detected: 0.0
Dropping column
Calculated SVD. Mean of SVs: 1928.633676608329

In [147]:
from sklearn.cluster import KMeans
centroids = np.loadtxt(f"./centroids/{11}")
centroids.shape

(11, 20)

In [117]:
kmeans = KMeans(11, init=centroids, n_init=1, random_state=0).fit(test_pdata)

In [148]:
np.linalg.norm((kmeans.cluster_centers_ - centroids), axis=1)

array([1.96766788e+04, 4.07793996e+03, 1.77581033e+04, 3.58407871e+03,
       2.77054670e+04, 7.44221597e+05, 8.33091881e+03, 9.82271331e+03,
       5.70695849e+06, 4.86837516e+04, 2.24733360e+04])

In [156]:
np.linalg.norm((kmeans.cluster_centers_ - centroids[:,None,:]), axis=2).min(axis=0)

array([  19676.67883286,    4077.93996403,   17758.10327679,
          3584.07870695,   27705.46696288,  744221.59690938,
          8330.91881173,    9822.71330879, 2066827.71197701,
         41699.71711508,   22473.33595804])

In [137]:
for i in range(centroids.shape[0]):
    print(np.linalg.norm((kmeans.cluster_centers_ - centroids[i]), axis=1).min())

19676.67883286302
4077.9399640321462
17758.10327679302
3584.078706953764
27705.466962881506
744221.5969093846
8330.918811730962
9822.713308793265
5706958.493759085
32957.08988145585
22473.335958038737

In [123]:
kmeans.n_iter_

14

In [140]:
data.groupby('K116-closest')['K116-distance'].mean()

K116-closest
0        128.309435
1        675.798858
2        883.986249
3        757.751870
4       6918.220722
           ...
111    14195.108084
112     5241.731463
113    81105.224593
114     7906.057441
115      610.267357
Name: K116-distance, Length: 116, dtype: float64

In [142]:
centroids116 = np.loadtxt(f"./centroids/{116}")
kmeans116 = KMeans(116, init=centroids116, n_init=1, random_state=0).fit(test_pdata)

In [143]:
for i in range(centroids.shape[0]):
    print(np.linalg.norm((kmeans116.cluster_centers_ - centroids[i]), axis=1).min())

3750.0978823507926
11243.081492802547
3717.4834097727176
19556.36870401753
21033.42269045099
25052.18211134886
6186.612953363241
18572.319434608322
184367.32606091344
5294322.674307197
34878.57883496153
5376.724105320788
25524.945898532675
48439.97626401714
82623.75743294199
8435.206174184266
4665.180478890793
18638.886430821545
69943.21534654725
11426.61002004281
250204.6344068343
40473.77042676664
46992.539165982016
61333.63676407005
240151.00174205078
69190.8919867375
3842.4182330621693
21896.669433493807
22034.78784567587
299618.78762556304
154613.15246635082
16072.423778145638
40117.044350972734
11514.8356218718
48643.85908103025
1735717.2934293605
26836.442362458492
10940.692220855968
1765541.895138998
16163.239869411358
8335.734684375586
17361.131355326856
5857.963231969268
33412.890547775954
25682.91661232004
18875.438778450836
65231.65004260403
115007.55248490727
11223.361015653467
22515.50470960462
23842.02430644133
11382.631396480394
30747.35649903072
44110.024480331835
17905.759493821617
8136.705262871381
5054.732424932647
146306.49430429382
36120.082308382094
580877.6982494517
9416.968621413811
22911.177793734994
159052.95366458935
21568.883096576905
23147.797659205877
55011.6325996143
145545.0366683959
231710.5429247238
8722.549868125187
9485.599420520612
49889.92451021493
22217.784035610384
18202.683712297825
3873.8014420556387
31718.043977042566
188913.12680013588
25442.761019113004
376027.63553469727
3922.581482051168
9173.573679670693
13352.037193362525
4656.484256897081
20716.968231040915
11888.003307707037
35957.84284548513
27010.090457036953
3605.170255623399
8168.379912895854
11229.606362681967
536413.960484463
17630.46087021881
108206.0294305566
26344.5418392769
136863.5562892223
11208.61158889304
7203.973243038773
32554.234494734013
139050.22818846942
6179.1038816032205
24399.517442877255
3539.649740147155
24154.147574918192
57027.22831831109
203810.72751306303
46543.475793050435
22340.10633477111
17259.332164111413
45585.174631517526
22597.981089048622
33569.99460122895
26585.750885792142
33949.522330302054
491688.0909090533
308709.44767621416
3659.173547633771
8511.569566140639

In [160]:
centroids116 = np.loadtxt(f"./centroids/{116}")
((data.groupby('K116-closest')['K116-distance'].mean() - np.linalg.norm((kmeans116.cluster_centers_ - centroids116[:,None,:]), axis=2).min(axis=0)) < 0).sum()

96

In [161]:
kmeans116.n_iter_

41